* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container .character-container {
    width: 100%;
    display: flex;
}
.container .character-container .left, .container .character-container .right {
    display: flex;
    align-items: center;
}

.container .character-container .left {
    width: 76%;
}
.container .character-container .right {
    width: 24%;
}
.container .character-container .left > div {
    padding: 10px 0px;
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.container .character-container .left > img {
    border-right: 2px solid black;
    height: 100%;
}

.container .character-container .left .place {
    display: flex;
    justify-content: center;
    width: 20%;
}
.container .character-container .left .name {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    width: 25%;
}
.container .character-container .left .image {
    display: flex;
    justify-content: center;
    width: 20%;
}
.container .character-container .left .img-container {
    padding: 0;
    display: flex;

    align-items: center;
    width: 20%;
}
.container .character-container .left .title {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    width: 35%;
}
.container .character-container .right .votesNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    height: 100%;
    width: 60%;
}
.container .character-container .right .popularity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}
.container .character-container {
    border-bottom: 2px solid black;
}
.container .character .left .place {
    box-sizing: border-box;
    padding-right: 5px;
    font-weight: bold;
}

.container .topper {
    border-top: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.container .character-container:nth-child(5n-4) {
    
    background-color: lightcoral;
}
.container .character-container:nth-child(5n-3) {
    background-color: lightyellow;
}
.container .character-container:nth-child(5n-2) {
    background-color: lightsalmon;
}
.container .character-container:nth-child(5n-1) {
    background-color: lightcyan;
}
.container .character-container:nth-child(5n) {
    background-color: lightgreen;
}
.container .character-container:nth-child(1) {
    background-color: white;
}

.c-gold {
    color: gold;
}
.c-silver {
    color: silver;
}
.c-bronze {
    color: rgb(165, 97, 42);
}

.fs-13 {
    font-size: 13px;
}
.fs-26 {
    font-size: 26px;
}
.fs-20 {
    font-size: 20px;
}
.fs-36 {
    font-size: 36px;
}


.top-inputs {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.top-inputs .return-to-votes {
    width: 20%;
    margin-right: 10px;
    color: white;
    background-color: black;
    font-size: 18px;
}
.top-inputs .search-character {
    width: 73%;
    padding: 5px 20px;
    font-size: 18px;
    text-align: left;
}
.total-votes {
    margin: 5px;
    font-size: 20px;
}




.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 45%;
    left: 40%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  